/* MIXIN */
@mixin sizetexto ($tamaño, $color){
    font-size: $tamaño;    
    color: $color;
}


.texto{
    text-align: justify;
    font-family:maliLight;
    @include sizetexto (18px, black);

}

/* EXTEND */
.tabla{
    @include sizetexto(15px, $colorSecundario);
    font-family: maliLight;
    border-radius: 10px;
    border: double 5px $colorSecundario;
    background-color: rgb(250, 242, 250);
    text-align: center;
    padding: 5px;
}

.tabla--tyh{
    @extend .tabla;
    padding: 20px;
    margin-top: 10px;
    height: 500px;
}

.card__lista li{
    list-style-type: none;
        a{
            @include sizetexto(20px, black);
            font-family: maliLight;
            text-align: center;
            background-color: rgb(190, 171, 207);
            border-radius: 5px;
            text-decoration: none;
            list-style-type: none;
}
}

/* MAP GET */

$estilos:(borde: 15px, padd: 10px,center:center);

.sitios{
    background-image: url("../../images/fondomickey.jpg");
    border-radius: map-get($estilos, borde);
    padding: map-get($estilos, padd);
    display: flex;
    flex-direction: column;
    justify-content: map-get($estilos, center);
    align-items: map-get($estilos, center);
}

.publi{
    grid-area: publi;
    background-image: url("../../images/fondomickey.jpg");
    border-radius: map-get($estilos, borde);
    display: flex;
    flex-direction: row;
    justify-content: map-get($estilos, center);
    align-items: map-get($estilos, center);
    padding: map-get($estilos, padd);
}